#home {
  margin-top: 3em;
}

#home ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#home a {
  text-decoration: none;
  color: black;
}

#home .list-item {
  display: inline;
}

#home .list-item-box {
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: .05em solid black;
  width: 12em;
  height: 6em;
  margin: 0 .2em;
}

#home .list-item-box:hover {
  box-shadow: 0 0 .1em rgba(10, 10, 10, 1);
}

@media (max-width: 995px) {
  #home .list-item-box {
    margin: .2em 0;
  }
}