#list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.list-item .list-item-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 60px;
  border: 0.05em solid black;
  margin: .1em auto;
}

.list-item .list-item-name:hover {
  box-shadow: 0 0 .1em rgba(10, 10, 10, 1);  
}



.list-item a {
  color: black;
  text-decoration: none;
}

@media (max-height: 750px) and (max-width: 900px) {
  .list-item .list-item-name {
    width: 80%;
  }
}

@media (max-height: 750px) and (max-width: 700px) {
  .list-item .list-item-name {
    width: 100%;
  }
}