nav {
  margin-top: 3em;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

nav li {
  display: inline;
}

nav div {
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: .05em solid black;
  width: 12em;
  height: 6em;
  margin: 0 .2em;
}