nav {
  margin-top: 2.5em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0; 
}

nav a {
  text-decoration: none;
  color: black;
}

nav div {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: .07em solid black;
  width: 12em;
  height: 6em;
  margin: .2em;
}