form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h2 {
  font-weight: 400;
  color: #333;
}

form input {
  height: 3em;
  width: 60%;
  border: .05em solid black;
}

form button {
  background-color: white;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: .05em solid black;
  margin-top: .75em;
}